{
  "extends": "@ivangabriele/eslint-config-typescript-react",
  "env": {
    "browser": false,
    "node": false
  },
  "ignorePatterns": [
    "/*.d.ts",
    "/dist/",
    "/examples/with-prisma/next-env.d.ts",
    "/examples/with-prisma/next.config.js"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "./tsconfig.json"
  },
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],

    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "import/prefer-default-export": "off",

    "react/function-component-definition": "off",

    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "@typescript-eslint/no-shadow": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.ts", "jest.setup.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["!/src/**/*.ts", "!/src/**/*.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["./examples/with-prisma/**/*.ts", "./examples/with-prisma/**/*.tsx"],
      "parserOptions": {
        "ecmaVersion": 2021,
        "project": "./examples/with-prisma/tsconfig.json"
      },
      "rules": {
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",

        "@typescript-eslint/no-use-before-define": "off"
      }
    }
  ]
}
